.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card{
        box-shadow: 0px 0px 15px 3px rgba(201, 201, 201, 0.47);

        .heading{
            color: gray;
            margin: 10px 0;
        }

        .btn{
            background-color: teal;
            margin-top: 20px;
            border-radius: 0%;
            width: 100%;
        }

        .text{
            font-size: 14px;
        }
    }
}


